# Node modules
frontend/node_modules/
backend/node_modules/

# Angular build
frontend/dist/

# Logs
frontend/*.log
backend/*.log
npm-debug.log*

# Environment files
frontend/src/environments/*.ts
backend/.env

# IDE / OS files
.vscode/
.DS_Store
